
main{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    gap: 10px;
}

.cartao-pokemon{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30rem;
    width: 18rem;
}
.img-pokemon{
    margin:20px auto;
}






/* Tipos de Pokemon */
