body{
    width: 100%;
    height: 100%;
}
main{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.cartao-pokemon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.img-pokemon{
    top: 0;
  left: 0;
  width: 90px;
  height: 90px;
    scale: 1;
    margin:20px auto;
}





/* Tipos de Pokemon */
